{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row" style="margin-top:150px;">
    <div class="row" style="margin-bottom:50px;">
      <div class="col-12">
        <h1 class="text-center">
        <style>
          h1 {
            text-align: center;
          }
        </style>
      <h1><span style="color: rgb(59, 129, 250);"><b>Add your Flight</b></span></h1>
        <form method="POST">
          <input type="hidden" name="idUser" value="{{session['idUser']}}">
          <div class="mb-3" style="padding-top: 30px;">
            <label for="idAirport" class="form-label">Departure</label>
            <select id="idAirport" name="aerodromeDepart" class="form-control form-control-sm" required>
              <option selected></option>
              {% for airport in airports %}
                <option value ="{{airport[0]}}">{{airport[1]}}</option>
              {% endfor %}
            </select>
          </div>
  
  
          <div class="mb-3">
            <label for="idAirport" class="form-label">Destination</label>
            <select id="idAirport" name="aerodromeArrive" class="form-control form-control-sm" required> 
              <option selected></option>
              {% for airport in airports %}
                <option value ="{{airport[0]}}">{{airport[1]}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label for="idAircraft" class="form-label">Aircraft</label>
            <select id="idAircraft" name="typeaircraft" class="form-control form-control-sm">
              <option selected></option>
              {% for aircraft in aircrafts %}
                <option value ="{{aircraft[0]}}">{{aircraft[1]}}</option>
              {% endfor %}
            </select>
          </div>
  
          <div class="form-group">
            <label for="Pax">Number of passagers, excluding pilot :</label>
            <input type="number" name="passagerMax" class="form-control" id="Pax" min = 1 max = 3 required>
          </div>
  
          <div class="form-group">
            <label for="date">Date :</label>
            <input type="date" name="date" class="form-control" id="date-input" required>
          </div>
  
          <div class="form-group">
            <label for="destination">Departure time :</label>
            <input type="time" class="form-control" id="time" required>
          </div>
  
          <div class="form-group">
            <label for="duree">Flight duration :</label>
            <input type="time" name="dureeVol" class="form-control" id="duree">
          </div>
  
          <div class="form-group">
            <label for="price">Price :</label>
            <input type="number" name="prixTotalIndicatif" class="form-control" id="price" placeholder="Flight price" required>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Create your flight</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script>
    // Récupérer la date d'aujourd'hui
    var today = new Date().toISOString().split('T')[0];

    // Définir la valeur de l'attribut min de l'élément input
    document.getElementById('date-input').setAttribute('min', today);
</script>

  {% endblock %}