{% extends "base.html" %}

{% block content %}
<div class="container">
  <div class="row" style="margin-top:150px;">
    <div class="row" style="margin-bottom:50px;">
      <div class="col-12">
        <h1 class="text-center">
        <style>
          h1 {
            text-align: center;
          }
        </style>
      <h1><span style="color: rgb(59, 129, 250);"><b>Ajoutez votre vol</b></span></h1>
        <form method="POST">
          <input type="hidden" name="idUser" value="{{session['idUser']}}">
          <div class="mb-3" style="padding-top: 30px;">
            <label for="idAirport" class="form-label">Aéroport de départ : </label>
            <select id="idAirport" name="aerodromeDepart" class="form-control form-control-sm" required>
              <option selected></option>
              {% for airport in airports %}
                <option value ="{{airport[0]}}">{{airport[1]}}</option>
              {% endfor %}
            </select>
          </div>
  
  
          <div class="mb-3">
            <label for="idAirport" class="form-label">Aéroport d'arrivée :</label>
            <select id="idAirport" name="aerodromeArrive" class="form-control form-control-sm" required> 
              <option selected></option>
              {% for airport in airports %}
                <option value ="{{airport[0]}}">{{airport[1]}}</option>
              {% endfor %}
            </select>
          </div>

          <div class="mb-3">
            <label for="idAircraft" class="form-label">Avion :</label>
            <select id="idAircraft" name="typeaircraft" class="form-control form-control-sm" required>
              <option selected></option>
              {% for aircraft in aircrafts %}
                <option value ="{{aircraft[0]}}">{{aircraft[1]}}</option>
              {% endfor %}
            </select>
          </div>
  
          <div class="form-group">
            <label for="Pax">Nombre de passagers possible, sans vous compter :</label>
            <input type="number" name="passagerMax" class="form-control" id="Pax" min = 1 max = 3 required>
          </div>
  
          <div class="form-group">
            <label for="date">Date du vol :</label>
            <input type="date" name="date" class="form-control" id="date-input" placeholder="JJ/MM/AAAA" required>
            
          </div>
  
          <div class="form-group">
            <label for="destination">Heure de décollage  :</label>
            <input type="time" name="heureDecollage" class="form-control" id="takeoffTime" required>
          </div>
  
          <div class="form-group">
            <label for="duree">Durée du vol :</label>
            <input type="time" name="dureeVol" class="form-control" id="duree">
          </div>
  
          <div class="form-group">
            <label for="price">Prix total estimé :</label>
            <input type="number" name="prixTotalIndicatif" class="form-control" id="price" placeholder="€" min= 0 required>
          </div>
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-primary btn-lg btn-block">Ajouter ce vol</button>
          </div>
        </form>
        
      </div>
    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script>
  // Récupérer la date d'aujourd'hui
  var today = new Date();

  // Ajouter 1 jour à la date d'aujourd'hui
  var tomorrow = new Date(today);
  tomorrow.setDate(today.getDate() + 1);

  // Convertir la date en format ISO pour l'attribut min
  var tomorrowISO = tomorrow.toISOString().split('T')[0];

  // Définir la valeur de l'attribut min de l'élément input
  document.getElementById('date-input').setAttribute('min', tomorrowISO);
</script>

  {% endblock %}