<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Base template for tang'air</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    </head>
    <style>
        .avatar {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .nav-item.nav-link.notifications.addflight {
            margin-top: 11px;
            margin-right: 10px;
        }
    </style>
    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="/static/images/tanguy.png" width="45" height="45">
                    <span style="color: rgba(0, 0, 255, 0.719);"><b>Tang</b></span>'Air
                </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex justify-content-end align-items-center ms-auto">
                        <ul class="navbar-nav">
                            {% if session['adresseMail'] is defined %}
					        {% if session['isPilot'] == True %}
						        <li><a href="/addflight" class="nav-item nav-link notifications addflight"><i class="fas fa-light fa-circle-plus"></i> Add flight</a></li>
					        {% endif %}
                            <!--<a href="#" class="nav-item nav-link notifications"><i class="fa fa-bell-o"></i><span class="badge">1</span></a>-->
                            <!--<a href="#" class="nav-item nav-link messages"><i class="fa fa-envelope-o"></i><span class="badge">1</span></a></a>-->
                            <li class="nav-item dropdown">
                                <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle user-action"><img src="{{session['photoDeProfil']}}" class="avatar" alt="Avatar">{{session['prenom']}} {{session['nom']}}<b class="caret"></b></a>
                                <div class="dropdown-menu">
                                    <a href="/profile" class="dropdown-item"><i class="fa fa-user-o"></i> Profil</a></a>
                                    <!--<a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a></a>-->
                                    <!--<a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a></a>-->
                                    <div class="dropdown-divider"></div>
                                    <a href="/logout" class="dropdown-item"><i class="fa fa-solid fa-right-from-bracket fa-rotate-180"></i> Logout</a></a>
                                </div>
                            </li>
                            {% else %}
                            <li class="nav-item"><a class="nav-link" href="/login"><button class="btn">Log-in</button></a></li>
                            <li class="nav-item"><a class="nav-link" href="/signup"><button class="btn btn-outline-primary">Sign-up</button></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}
        <!-- Contenu des pages ici-->
        {% endblock %}
        <footer class="container py-5">
            <div class="row">
              <div class="col">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                <small class="d-block mb-3 text-muted">&copy;2023-2024</small>
              </div>
              <div class="col md-6">
                <h5>Nos services</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="/clafete">Volez avec les copains</a></li>
                  <li><a class="text-muted" href="/clafete">Proposer un vol aux copains</a></li>
                  <li><a class="text-muted" href="/clafete">Annuler un vol</a></li>
                  {% if session['adresseMail'] %}
                    <li><a class="text-muted" href="/profile">Noter les copains</a></li>
                  {% else %}
                    <li><a class="text-muted" href="/login">Noter les copains</a></li>
                  {% endif %}
                  <li><a class="text-muted" href="/signup">Devenir un copain</a></li>
                  <li><a class="text-muted" href="https://www.enac.fr/fr/epl-eleve-pilote-de-ligne">Devenir pilote</a></li>
                </ul>
              </div>
              <div class="col">
                <h5>À propos</h5>
                <ul class="list-unstyled text-small">
                  <li><a class="text-muted" href="/team">L'équipe</a></li>
                  <li><a class="text-muted" href="https://www.google.com/maps/place/ENAC+Montpellier/@43.5791044,3.954944,17.04z/data=!4m6!3m5!1s0x12b6a4d0af30b719:0xdf36c6ac119b3a2f!8m2!3d43.5794201!4d3.9523512!16s%2Fg%2F1vgl53x0?entry=ttu">Siège</a></li>
                  <li><a class="text-muted" href="/clafete">Politique de confidentialité</a></li>
                </ul>
              </div>
            </div>
        </footer>
        <script src="https://kit.fontawesome.com/4f5a2d4adf.js" crossorigin="anonymous"></script>
    </body>
</html>