{% extends "base.html" %}

{% block content %}

{% if wrongcredentials == True %}
  <div class="alert alert-danger" role="alert">
    You entered the wrong credentials ! Please try again.
  </div>
{% endif %}
<div class="container">
  <div>
    <style>
          h1 {
            text-align: center;
          }

    </style>
  <h1><span style="color: rgb(59, 129, 250);"><b>Forgot password ?</b></span></h1>

  <form method="POST" action="">
    <!-- Email input -->
    <div class="form-group" style="padding-top: 50px;">
      <div class ="mb-4">
      <input type="email" name="email" id="form2Example1" class="form-control form-control-lg" placeholder="Email address" required />
    </div>
  </div>

    <!-- Password input -->
    <div class="form-group">
    <div class="mb-4">
      <input type="email" name="email" id="form2Example2" class="form-control form-control-lg" placeholder="Reconfirm Email adress" required />
    </div>
  </div>


    <!-- Submit button -->
    <div class="d-flex justify-content-center">
      <button type="submit" class="btn btn-primary btn-lg">Send Email</button>
    </div>
    
  </form>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha512-..." crossorigin="anonymous"></script>
{% endblock %}