{% extends "base.html" %}

{% block content %}

  {% if userAlreadyExists == True %}
    <div class="alert alert-warning" role="alert">
      This email is already used. Are you trying to login ? <a href="./login" class="mr-2"> login here</a>
    </div>
  {% endif %}


  <form method="POST" enctype="multipart/form-data">
    <div class="picture-container">
      <div class="picture">
          <img src="https://lh3.googleusercontent.com/LfmMVU71g-HKXTCP_QWlDOemmWg4Dn1rJjxeEsZKMNaQprgunDTtEuzmcwUBgupKQVTuP0vczT9bH32ywaF7h68mF-osUSBAeM6MxyhvJhG6HKZMTYjgEv3WkWCfLB7czfODidNQPdja99HMb4qhCY1uFS8X0OQOVGeuhdHy8ln7eyr-6MnkCcy64wl6S_S6ep9j7aJIIopZ9wxk7Iqm-gFjmBtg6KJVkBD0IA6BnS-XlIVpbqL5LYi62elCrbDgiaD6Oe8uluucbYeL1i9kgr4c1b_NBSNe6zFwj7vrju4Zdbax-GPHmiuirf2h86eKdRl7A5h8PXGrCDNIYMID-J7_KuHKqaM-I7W5yI00QDpG9x5q5xOQMgCy1bbu3St1paqt9KHrvNS_SCx-QJgBTOIWW6T0DHVlvV_9YF5UZpN7aV5a79xvN1Gdrc7spvSs82v6gta8AJHCgzNSWQw5QUR8EN_-cTPF6S-vifLa2KtRdRAV7q-CQvhMrbBCaEYY73bQcPZFd9XE7HIbHXwXYA=s200-no" class="picture-src" id="wizardPicturePreview" title="">
          <input type="file" id="wizard-picture" class="" name="oui" accept=".jpg, .png">
          <small id="fileError" class="text-danger" style="display: none;">Please choose a .jpg or .png file.</small>
      </div>
       <h6 class="">Choose Picture</h6>

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nom">Last name</label>
        <input type="text" class="form-control form-control-lg" id="nom" name="nom" placeholder="Labory">
      </div>

      <div class="form-group col-md-6">
        <label for="prenom">First Name</label>
        <input type="text" class="form-control form-control-lg" id="prenom" name="prenom" placeholder="Guéric">
      </div>
    </div>  

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="dateNaissance">Date of birth</label>
        <input type="date" class="form-control form-control-lg" id="dateNaissance" name= "dateNaissance" placeholder="25/02/2001">
      </div>

      <div class="form-group col-md-6">
        <label for="adresse">Mail adress</label>
        <input type="email" class="form-control form-control-lg" id="adresse" name="adresseMail" placeholder="loveTanguy@gmail.com">
      </div>
    </div>

<!-- I am a pilot -->
    <div class="form-group">
      <label for="showAdditionalFields">I am a pilot</label>
      <input type="checkbox" id="showAdditionalFields" name="isPilot">
    </div>
  
    <div id="additionalFields" style="display: none;">
      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="numeroLicense">License Number</label>
          <input type="text" class="form-control form-control-lg" id="numeroLicense" name="numeroLicense">
        </div>
        <div class="form-group col-md-6">
          <label for="nbHeureVolTotals">Total flying hours</label>
          <input type="number" class="form-control form-control-lg" id="nbHeureVolTotal" name="nbHeureVolTotal" placeholder="145 h" min=0>
        </div>
      </div>
    </div>
<!-- I am a pilot -->
  
    <div class="form-group">
      <label for="motdepasse">Password</label>
      <input type="password" class="form-control form-control-lg" id="motdepasse" name="motdepasse" placeholder="Lacatapulte-Irlandaise3">
    </div>

    <div class="form-group">
      <label for="motdepasse2">Confirm Password</label>
      <input type="password" class="form-control form-control-lg" id="motdepasse2" placeholder="Lacatapulte-Irlandaise3">
      <small class="text-danger" id="passwordError" style="display: none;">Different password, please try again.</small>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="idPromo">Promotion</label>
        <select id="idPromo" name="promo" class="form-control form-control-lg">
          <option selected>Choose...</option>
          {% for promo in promos %}
            <option value ="{{promo[0]}}">{{promo[1]}} - {{promo[2]}}</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group col-md-4">
        <label class="form-label" for="customFile">Profile Picture</label>
        <input type="file" class="form-control form-control-lg" id="profilePicture" name="profilePicture" accept=".jpg, .png" />
        <small id="fileError" class="text-danger" style="display: none;">Please choose a .jpg or .png file.</small>
      </div>
      </div>
        <div class="form-group">
          <label for=description>Profile Description</label>
          <textarea class="form-control form-control-lg" id="description" name ="description" rows="3"></textarea>
        </div>

    

  <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
  </form> 

  <body class="bottom-space">
  </body>


  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <script>
  // Récupérer les références aux éléments de formulaire
  const passwordInput = document.getElementById('motdepasse');
  const confirmPasswordInput = document.getElementById('motdepasse2');
  const passwordError = document.getElementById('passwordError');
  
  // Ajouter un gestionnaire d'événements pour vérifier les mots de passe
    confirmPasswordInput.addEventListener('input', function() {
        if (confirmPasswordInput.value !== passwordInput.value) {
          passwordError.style.display = 'block';
        } else {
          passwordError.style.display = 'none';
        }
      });
  </script>
<!-- Alerte l'utilisateur que la pp doit être .png ou .jpg -->
  <script>
      const fileInput = document.getElementById('customFile');
      const fileError = document.getElementById('fileError');

      fileInput.addEventListener('change', function() {
        const fileName = fileInput.value;
        const validExtensions = ['.jpg', '.jpeg', '.png'];

        if (!validExtensions.some(ext => fileName.toLowerCase().endsWith(ext))) {
          fileInput.value = ''; // Clear the selected file
          fileError.style.display = 'block';
        } else {
          fileError.style.display = 'none';
        }
      });
  </script>
    <!-- Permet d'afficher plus de zones de saisies si user est pilote -->
  <script>
    const checkbox = document.getElementById('showAdditionalFields');
    const additionalFields = document.getElementById('additionalFields');

    checkbox.addEventListener('change', function() {
      additionalFields.style.display = checkbox.checked ? 'block' : 'none';
    });
  </script>
  <script>
    $(document).ready(function(){
      // Prepare the preview for profile picture
        $("#wizard-picture").change(function(){
            readURL(this);
        });
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
  </script>
{% endblock %}


