{% extends "base.html" %}

{% block content %}

  {% if userAlreadyExists == True %}
    <div class="alert alert-warning" role="alert" style="text-align: center;">
      This email is already used. Are you trying to login ? <a href="./login" class="mr-2"> log-in here</a>
    </div>
  {% endif %}
<div class="container" >
      <style>
        h1 {
          text-align: center;
        }
                  
        .my-10 {
  margin-top: 5rem;

}
      </style>
    <h1><span style="color: rgb(59, 129, 250);"><b>Sign-up</b></span></h1>
    <div class="my-10" >

    <form method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
          <label for="nom">Nom : </label>
          <input type="text" class="form-control form-control-lg" id="nom" name="nom" placeholder="Labory" required>
        </div>
      </div>

        <div class="col-md-6">
        <div class="form-group">
          <label for="prenom">Prénom :</label>
          <input type="text" class="form-control form-control-lg" id="prenom" name="prenom" placeholder="Guéric" required>
        </div>
      </div>
    </div>  

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
          <label for="dateNaissance">Date de naissance :</label>
          <input type="date" class="form-control form-control-lg" id="dateDeNaissance" name= "dateNaissance" placeholder="25/02/2001" required>
        </div>
      </div>

        <div class="col-md-6">
          <div class="form-group">
          <label for="adresse">Adresse mail : </label>
          <input type="email" class="form-control form-control-lg" id="adresseMail" name="adresseMail" placeholder="loveTanguy@gmail.com" required>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group ">
          <label for="numeroTelephone">Numéro de téléphone : </label>
          <input type="text" class="form-control form-control-lg" id="numeroTelephone" name= "numeroTelephone" placeholder="06 66 66 76 69" required>
        </div>
      </div>

      <!-- I am a pilot -->
      <div class="form-group">
        <label for="showAdditionalFields">Je suis un copain pilote</label>
        <input type="checkbox" id="showAdditionalFields" name="isPilot">
      </div>
    
      <div id="additionalFields" style="display: none;">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="numeroLicense">N° de license : </label>
            <input type="text" class="form-control form-control-lg" id="numeroLicense" name="numeroLicense">
          </div>
          <div class="form-group col-md-6">
            <label for="nbHeureVolTotals">Nombre d'heure de vol</label>
            <input type="number" class="form-control form-control-lg" id="nbHeureVolTotal" name="nbHeureVolTotal" placeholder="145 h" min=0>
          </div>
        </div>
      </div>
      <!-- I am a pilot -->
    
      <div class="form-group">
        <label for="motdepasse">Mot de passe : </label>
        <input type="password" class="form-control form-control-lg" id="motdepasse" name="motdepasse" placeholder="Lacatapulte-Irlandaise3" required>
      </div>

      <div class="form-group">
        <label for="motdepasse2">Confirmation du mot de passe : </label>
        <input type="password" class="form-control form-control-lg" id="motdepasse2" placeholder="Lacatapulte-Irlandaise3" required>
        <small class="text-danger" id="passwordError" style="display: none;">Les mots de passes entrés sont différents. Aller, il faut retenter !</small>
      </div>
      
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="idPromo">Promotion</label>
          <select id="idPromo" name="promo" class="form-control form-control-lg">
            <option selected></option>
            {% for promo in promos %}
              <option value ="{{promo[0]}}">{{promo[1]}} - {{promo[2]}}</option>
            {% endfor %}
          </select>
        </div>

        <div class="row">
        <div class="col-md-6">
        <div class="form-group">
          <label class="form-label" for="customFile">Photo de profil : </label>
          <input type="file" class="form-control form-control-lg" id="profilePicture" name="profilePicture" accept=".jpg, .png" required />
          <small id="fileError" class="text-danger" style="display: none;">Merci de choisir un fichier jpg ou png</small>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="form-label" for="customFile">Certificat de scolarité : </label>
          <input type="file" class="form-control form-control-lg" id="certificat" name="certificat" accept=".pdf" required />
          <small id="fileError" class="text-danger" style="display: none;">Merci de choisir un fichier pdf</small>
        </div>
        </div>
        <div class="form-group">
          <label for=description>Description</label>
          <textarea class="form-control form-control-lg" id="description" name ="description" rows="3"></textarea>
        </div>
        <div class ="form-group col-mb-3">
          <input class="form-check-input" type="checkbox" value="" id="agreeConditions" required>
          <label class="form-check-label" for="flexCheckDefault">
            Accepter les conditions <a href="/clafete">les lire ici</a>
          </label>
        </div>

      <div class="bottom-space">

    <button type="submit" class="btn btn-primary btn-lg btn-block" id="signup-button" disabled>Sign-up</button>
  </form> 
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>

<script>
  // Récupérer les références aux éléments des inputs mot de passe
  const passwordInput = document.getElementById('motdepasse');
  const confirmPasswordInput = document.getElementById('motdepasse2');
  const passwordError = document.getElementById('passwordError');
  // Fonction pour vérifier l'état des champs et activer/désactiver le bouton
  function checkFormValidity() {
    var nom = document.getElementById('nom').value;
    var prenom = document.getElementById('prenom').value;
    var dateDeNaissance = document.getElementById('dateDeNaissance').value;
    var adresseMail = document.getElementById('adresseMail').value;
    var numeroTelephone = document.getElementById('numeroTelephone').value;
    var motdepasse = document.getElementById('motdepasse').value;
    var motdepasse = document.getElementById('motdepasse2').value;
    var profilePicture = document.getElementById('profilePicture').value;
    var certificat = document.getElementById('certificat').value;
    var agreeConditions = document.getElementById('agreeConditions').checked;
    var signupButton = document.getElementById('signup-button');

  // Ajouter un gestionnaire d'événements pour vérifier les mots de passe et afficher l'information à l'utilisateur
  confirmPasswordInput.addEventListener('input', function() {
    if (confirmPasswordInput.value !== passwordInput.value) {
      passwordError.style.display = 'block';
      } else {
      passwordError.style.display = 'none';
      }
    });


    if (nom && prenom && dateDeNaissance && adresseMail && numeroTelephone && motdepasse && profilePicture && certificat && agreeConditions && (confirmPasswordInput.value == passwordInput.value)) {
      signupButton.disabled = false;
    } else {
      signupButton.disabled = true;
    }
  }

  // Écouteurs d'événements pour vérifier l'état des champs à chaque modification
  document.getElementById('nom').addEventListener('input', checkFormValidity);
  document.getElementById('prenom').addEventListener('input', checkFormValidity);
  document.getElementById('dateDeNaissance').addEventListener('input', checkFormValidity);
  document.getElementById('adresseMail').addEventListener('input', checkFormValidity);
  document.getElementById('numeroTelephone').addEventListener('input', checkFormValidity);
  document.getElementById('motdepasse').addEventListener('input', checkFormValidity);
  document.getElementById('motdepasse2').addEventListener('input', checkFormValidity);
  document.getElementById('profilePicture').addEventListener('input', checkFormValidity);
  document.getElementById('certificat').addEventListener('input', checkFormValidity);
  document.getElementById('agreeConditions').addEventListener('change', checkFormValidity);
</script>
    
  <!-- Alerte l'utilisateur que la pp doit être .png ou .jpg -->
    <script>
        const fileInput = document.getElementById('customFile');
        const fileError = document.getElementById('fileError');

        fileInput.addEventListener('change', function() {
          const fileName = fileInput.value;
          const validExtensions = ['.jpg', '.jpeg', '.png'];

          if (!validExtensions.some(ext => fileName.toLowerCase().endsWith(ext))) {
            fileInput.value = ''; // Clear the selected file
            fileError.style.display = 'block';
          } else {
            fileError.style.display = 'none';
          }
        });

      
      
const fileInput2 = document.getElementById('customFile');
const fileError2 = document.getElementById('fileError');

fileInput.addEventListener('change', function() {
  const fileName = fileInput.value;
  const validExtensions = ['.jpg', '.jpeg', '.png'];

  if (!validExtensions.some(ext => fileName.toLowerCase().endsWith(ext))) {
    const certificatInput = document.getElementById('certificat');
    const certificatError = document.getElementById('certificatError');
    
    certificatInput.value = ''; // Efface le fichier sélectionné
    certificatError.style.display = 'block';
  } else {
    fileError.style.display = 'none';
  }
});
    
  </script>
    <!-- Permet d'afficher plus de zones de saisies si user est pilote -->
  <script>
    const checkbox = document.getElementById('showAdditionalFields');
    const additionalFields = document.getElementById('additionalFields');

    checkbox.addEventListener('change', function() {
      additionalFields.style.display = checkbox.checked ? 'block' : 'none';
    });
  </script>
  <script>
    $(document).ready(function(){
      // Prepare the preview for profile picture
        $("#wizard-picture").change(function(){
            readURL(this);
        });
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#wizardPicturePreview').attr('src', e.target.result).fadeIn('slow');
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
  </script>
  <script>
    // Récupérer la date d'aujourd'hui
    var today = new Date();

    // Soustraire 18 ans à la date d'aujourd'hui
    var minDate = new Date(today.getFullYear() - 18, today.getMonth(), today.getDate());

    // Formater la date dans le format ISO
    var minDateISO = minDate.toISOString().split('T')[0];

    // Définir la valeur de l'attribut min de l'élément input
    document.getElementById('dateDeNaissance').setAttribute('max', minDateISO);
  </script>
{% endblock %}