{% extends "base.html" %}

{% block content %}
{% for flight in flights %}
<div>
    <div class="flight-card">
        <p><strong>Aéroport de départ :</strong>{% for airport in airports %} {% if airport[0] == flight[4] %} {{airport[1]}} {% endif %}{% endfor %}</p>
        <p><strong>Aéroport d'arrivée :</strong>{% for airport in airports %} {% if airport[0] == flight[5] %} {{airport[1]}} {% endif %}{% endfor %}</p>
        <p><strong>date :</strong> {{flight[12]}}</p>
        <p><strong>heure de décollage :</strong> x</p>
        <p><strong>Temps de vol :</strong> {{flight[11]}}</p>
        <p><strong>Place(s) Restante(s) :</strong> {{flight[7]}}</p>
        <div class="pilot-info">
          <img src="{{flight[2]}}" alt="Photo de profil du pilote">
          <div>
            <p><strong>Pilote:</strong> {{flight[0]}} {{flight[1]}}</p>
            <p><strong>Note :</strong> {{flight[3]}}</p>
          </div>
        </div>
        <div style="clear: both;">
            <h2 class="price">{{flight[10]}}€/pax</h2>
            <button class="reservation-btn btn-outline-primary" type="button">Réserver</button>
        </div>
    </div>
</div>
{% endfor %}
  
{% endblock %}
