{% extends "base.html" %}

{% block content %}
<style>
/* Flight card Begin*/
.flight-card {
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 20px;
  width: 100%;
  position: relative;
  margin: 20px;
}

.flight-card h2 {
  margin-top: 0;
}

.pilot-info {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
}

.pilot-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.reservation-btn {
  position: absolute;
  bottom: 20px;
  right: 10px;
  border-radius: 7px;
}

.price {
  position: absolute;
  bottom: 10px;
  right: 100px;
  margin-right: 10px;
}
/*Flight Card End*/
</style>
<div class="container">
  <div class="row">
    {% for flight in flights %}
      {% if flight[15] != 'archived' %}
        <div class="col-md-6">
          {% if flight[7] == 0 %} <!-- Le vol est complet-->
            <div class="flight-card">
              <p><strong>Aéroport de départ :</strong>{% for airport in airports %} {% if airport[0] == flight[4] %} {{airport[1]}} {% endif %}{% endfor %}</p>
              <p><strong>Aéroport d'arrivée :</strong>{% for airport in airports %} {% if airport[0] == flight[5] %} {{airport[1]}} {% endif %}{% endfor %}</p>
              <p><strong>Date :</strong> {{flight[12]}}</p>
              <p><strong>Heure de décollage :</strong> {{flight[16]}}</p>
              <p><strong>Temps de vol :</strong> {{flight[11]}}</p>
              <p><strong>Place(s) restante(s) :</strong> {{flight[7]}}</p>
              <div class="pilot-info">
                <img src="{{flight[2]}}" alt="Photo de profil du pilote">
                <div>
                  <p><strong>Pilote:</strong> {{flight[0]}} {{flight[1]}}</p>
                  <p><strong>Note :</strong> {{flight[3]}}</p>
                </div>
              </div>
              <div style="clear: both;">
                <h2 class="price">Complet</h2>
              </div>
            </div>
          {% else %} <!-- Le vol n'est pas complet-->
            <div class="flight-card">
              <p><strong>Aéroport de départ :</strong>{% for airport in airports %} {% if airport[0] == flight[4] %} {{airport[1]}} {% endif %}{% endfor %}</p>
              <p><strong>Aéroport d'arrivée :</strong>{% for airport in airports %} {% if airport[0] == flight[5] %} {{airport[1]}} {% endif %}{% endfor %}</p>
              <p><strong>Date :</strong> {{flight[12]}}</p>
              <p><strong>Heure de décollage :</strong> {{flight[16]}}</p>
              <p><strong>Temps de vol :</strong> {{flight[11]}}</p>
              <p><strong>Place(s) restante(s) :</strong> {{flight[7]}}</p>
              <div class="pilot-info">
                <img src="{{flight[2]}}" alt="Photo de profil du pilote">
                <div>
                  <p><strong>Pilote:</strong> {{flight[0]}} {{flight[1]}}</p>
                  <p><strong>Note :</strong> {{flight[3]}}</p>
                </div>
              </div>
              <div style="clear: both;">
                <h2 class="price">{{flight[10]}}€/pax</h2>
              </div>
              {% if session['adresseMail'] is defined %}
                <form method="POST" action="/reserveflight/{{flight[13]}}">
                  <input type="hidden" name="idUser" value = "{{session['idUser']}}">
                  <input type="hidden" name="idVol" value = "{{flight[13]}}">
                  <input type="hidden" name="prixPayé" value = "{{flight[10]}}">
                  <button type="submit" class="btn btn-primary reservation-btn"> Réserver </button>
                </form>
              {% else %}
                <button class="btn btn-primary reservation-btn" data-bs-toggle="modal" data-bs-target="#login-request"> Réserver </button>
              {% endif %}
            </div>
        </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  </div>
</div>
{% if not flights %}
<div style="text-align: center;">
  <h1><span style = "color:  rgb(0, 57, 155);">  Oups... Aucun vols ne correspond à votre recherche.</span></h1>
  <img src="/static/images/pasvoler.png" width="600" height="400">
</div>
{% endif %}

<div class="modal fade" id="login-request" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Vous devez vous login pour pouvoir réserver un vol !</h2></p> <!-- Mettre des infos sur le pilote, l'avion et l'aérodrome de départ-->
      </div>
      <div class="modal-footer">
        <a href ="/login"><button class="btn btn-primary">Log-in</button></a>
      </div>
    </div>
  </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
{% endblock %}
