{% extends "base.html" %}

{% block content %}

<style>
  .profile-card {
    margin: 20px;
    width: 800px; /* Largeur de la carte utilisateur */
  }
  .profile-card .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .profile-card .user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .profile-card .settings-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .reservations {
    margin: 20px;
  }
  .reservation-card {
    width:400px; /* Anciennement 400px */
    margin-bottom: 20px;
  }
  .reservation-card .passenger-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border : 4px solid green;
    margin-right: 20px;
  }
  .reservation-card .passenger-img-pending {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border : 4px solid orange;
    margin-right: 20px;
  }
  .reservation-card .settings-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .management-actions {
    padding: 20px;
  }
</style>

<div class="container">
  <div class="profile-card">
    <div class="card">
      <div class="card-body">
        <span class="settings-icon">
          <a type="button" data-bs-toggle="modal" data-bs-target="#modifierprofil">
            <i class="fas fa-cog"></i> <!-- Remplacez par l'icône d'engrenage souhaitée -->
          </a>
        </span>
        <div class="user-info">
          <img src="{{session['photoDeProfil']}}" alt="Profile Picture"> <!-- Remplacez par le chemin vers la photo de profil de l'utilisateur -->
          <div>
            <p><strong>Last name : </strong>{{session['nom']}}</p>
            <p><strong>First Name : </strong>{{session['prenom']}}</p>
            <p><strong>Date of birth : </strong>{{session['dateNaissance']}}</p>
            <p><strong>Mail adresse : </strong>{{session['adresseMail']}}</p>
            <p><strong>Phone number : </strong>{{session['numeroTelephone']}}</p>
            <p><strong>Description : </strong>{{session['description']}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="reservations">
    <h5>Flights Reservations</h5>
    {% for flight in session['flights'] %}
    <div class="row">
      <div class="col-md-2">
        <div class="card reservation-card">
          <div class="card-body">
            <span class="settings-icon">
              <a type="button" data-bs-toggle="modal" data-bs-target="#infovol-{{flight[13]}}">
                <i class="fas fa-circle-info"></i>
              </a>
            </span>
            <h6 class="card-title">Vol n°{{flight[13]}}</h6>
            <p class="card-text"><strong>Departure:</strong> {% for airport in airports %} {% if airport[0] == flight[4] %} {{airport[1]}} {% endif %}{% endfor %}</p>
            <p class="card-text"><strong>Destination:</strong> {% for airport in airports %} {% if airport[0] == flight[5] %} {{airport[1]}} {% endif %}{% endfor %}</p>
            <p class="card-text"><strong>Pilot:</strong> {{flight[0]}} {{flight[1]}}</p>
            <p class="card-text"><strong>Aircraft:</strong> DR-400</p>
            <p class="card-text"><strong>Date:</strong> {{flight[12]}}</p>
            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#annulervolpassager-{{flight[13]}}">
              Annuler
            </button>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    {%  if session['isPilot'] %}
    <h5> Flights Management</h5>
    {% for flightPilot in session['flightsPilot'] %}
    <div class="row">
      <div class="col-md-2">
        <div class="card reservation-card">
          <div class="card-body">
            <h6 class="card-title">Vol n°{{flightPilot[13]}}</h6>
            <p class="card-text"><strong>Departure:</strong> {% for airport in airports %} {% if airport[0] == flightPilot[4] %} {{airport[1]}} {% endif %}{% endfor %}</p>
            <p class="card-text"><strong>Destination:</strong> {% for airport in airports %} {% if airport[0] == flightPilot[5] %} {{airport[1]}} {% endif %}{% endfor %}</p>
            <p class="card-text"><strong>Pilot:</strong> {{flightPilot[0]}} {{flightPilot[1]}}</p>
            <p class="card-text"><strong>Aircraft:</strong> DR-400</p>
            <p class="card-text"><strong>Date:</strong> {{flightPilot[12]}}</p>
              <div class="container text-center">
                <div class="row">
                  {% for passager in session['passengersPilot'] %}
                    {% if passager[4] == flightPilot[13] %}
                      <div class="col">
                        <a data-bs-toggle="modal" data-bs-target="#confirmerpassager-{{flightPilot[13]}}-{{passager[0]}}"><img src="{{passager[3]}}" {% if passager[6] =='pending' %} class = "passenger-img-pending" {% else %} class = "passenger-img" {% endif %}></img></a>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            <div class = "management-actions">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modifiervol-{{flightPilot[13]}}">
                Modifier
              </button>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#annulervolpilote-{{flightPilot[13]}}">
                Annuler
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>
</div>

<!-- Modifier Profil Modal -->
<div class="modal fade" id="modifierprofil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier son profil</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="./edit_profile">
          <div class="mb-3">
            <label for="nom" class="form-label">Nom :</label>
            <input type="text" class="form-control" name="nom" value="{{session['nom']}}">
          </div>
          <div class="mb-3">
            <label for="prenom" class="form-label">Prénom :</label>
            <input type="text" class="form-control" name="prenom" value="{{session['prenom']}}">
          </div>
          <div class="mb-3">
            <label for="eMail" class="form-label">Email :</label>
            <input type="email" class="form-control" name="adresseMail" value="{{session['adresseMail']}}">
          </div>
          <div class="mb-3">
            <label for="dateDeNaissance" class="form-label">Date de naissance :</label>
            <input type="date" class="form-control" name="dateDeNaissance" value="{{session['dateDeNaissance']}}">
          </div>
          <div class="mb-3">
            <label for="dateDeNaissance" class="form-label">Numéro de téléphone :</label>
            <input type="text" class="form-control" name="numeroTelephone" value="faut le faire">
          </div>
          <input type="hidden" value="{{session['idUser']}}" name="idUser">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% for flight in session['flights']%}
<!-- Annuler passager vol Modal -->
<div class="modal fade" id="annulervolpassager-{{flight[13]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de bien vouloir annuler ce vol ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="./cancelflight/{{flight[13]}}/{{session['idUser']}}"> <button type="button" class="btn btn-danger">Annuler</button></a>
      </div>
    </div>
  </div>
</div>

<!-- voir info vol Modal -->
<div class="modal fade" id="infovol-{{flight[13]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Informations utiles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Vous êtes beau, restez-le s'il vous plaît</p> <!-- Mettre des infos sur le pilote, l'avion et l'aérodrome de départ-->
      </div>
    </div>
  </div>
</div>
{% endfor %}

{%  if session['isPilot'] %}
  {% for flight in session['flightsPilot']%}
    <!-- modfier vol Modal -->
    <div class="modal fade" id="modifiervol-{{flight[13]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modification du vol n°{{flight[13]}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="./editflight">
              <input type="hidden" name="idUser" value="{{session['idUser']}}">
              <div class="mb-3" style="padding-top: 30px;">
                <label for="idAirport" class="form-label">Departure : </label>
                <select id="idAirport" name="aerodromeDepart" class="form-control form-control-sm">
                  {% for airport in airports %} {% if airport[0] == flight[4] %}<option selected value = "{{airport[0]}}">{{airport[1]}}</option>{% endif %}{% endfor %}</option>
                  {% for airport in airports %}
                    {% if airport[0] != flight[4] %}
                    <option value ="{{airport[0]}}">{{airport[1]}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="idAirport" class="form-label">Destination : </label>
                <select id="idAirport" name="aerodromeArrive" class="form-control form-control-sm">
                  {% for airport in airports %} {% if airport[0] == flight[5] %}<option selected value = "{{airport[0]}}">{{airport[1]}}</option>{% endif %}{% endfor %}</option>
                  {% for airport in airports %}
                    {% if airport[0] != flight[5] %}
                    <option value ="{{airport[0]}}">{{airport[1]}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>

              <div class="mb-3">
                <label for="idAircraft" class="form-label">Aircraft : </label>
                <select id="idAircraft" name="typeaircraft" class="form-control form-control-sm">
                  <option selected></option>
                  {% for aircraft in aircrafts %}
                    <option value ="{{aircraft[0]}}">{{aircraft[1]}}</option>
                  {% endfor %}
                </select>
              </div>
      
              <div class="form-group">
                <label for="Pax">Number of passagers, excluding pilot :</label>
                <input type="number" name="passagerMax" class="form-control" id="Pax" value="{{flight[8]}}" min = 1 max = 3>
              </div>
      
              <div class="form-group">
                <label for="date">Date :</label>
                <input type="date" name="date" class="form-control" id="date" value="{{flight[12]}}">
              </div>
      
              <div class="form-group">
                <label for="destination">Departure time :</label>
                <input type="time" name = "heureDecollage" class="form-control" id="time">
              </div>
      
              <div class="form-group">
                <label for="duree">Flight duration :</label>
                <input type="time" name="dureeVol" class="form-control" id="duree" value = "{{flight[11]}}">
              </div>
      
              <div class="form-group">
                <label for="price">Total Price :</label>
                <input type="number" name="prixTotalIndicatif" class="form-control" id="price" placeholder="Flight price" value="{{flight[9]}}">
              </div>
              <input type="hidden" name="idVol" value = "{{flight[13]}}">
              <input type="hidden" name="placesRestantesBefore" value = "{{flight[7]}}">
              <input type="hidden" name="passagermaxBefore" value = "{{flight[8]}}">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-warning">Modifier</button></a>
          </div>
        </form>
        </div>
      </div>
    </div>

    <!-- Annuler pilote vol Modal -->
    <div class="modal fade" id="annulervolpilote-{{flight[13]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Êtes-vous sûr de bien vouloir annuler ce vol ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="./cancelflight/{{flight[13]}}/{{session['idUser']}}"> <button type="button" class="btn btn-danger">Annuler</button></a>
          </div>
        </div>
      </div>
    </div>

    {% for passager in session['passengersPilot'] %}
      {% if passager[4] == flight[13] %}
        {%if passager[6] == 'pending' %}
          <!--confirmer passager Modal -->
          <div class="modal fade" id="confirmerpassager-{{flight[13]}}-{{passager[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Confirmation du passager <strong>{{passager[1]}} {{passager[2]}}</strong></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Confirmer ce passager ?</p>
                </div>
                <div class="modal-footer">
                  <a href=".//resaconfirm/{{flight[13]}}/{{passager[0]}}"> <button type="button" class="btn btn-success">Confirmer</button></a>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          <!--confirmer passager Modal -->
          <div class="modal fade" id="confirmerpassager-{{flight[13]}}-{{passager[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">gestion du passager <strong>{{passager[1]}} {{passager[2]}}</strong></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Annuler la réservation de ce passager ?</p>
                </div>
                <div class="modal-footer">
                  <a href="cancelresa/{{flight[13]}}/{{passager[0]}}"> <button type="button" class="btn btn-danger">Annuler</button></a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endfor %}
{% endif %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> <!-- Importation de la bibliothèque Font Awesome -->

{% endblock %}