{% extends "base.html" %}

{% block content %}

<style>
  .profile-card {
    margin: 20px;
    width: 800px; /* Largeur de la carte utilisateur */
  }
  .profile-card .user-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .profile-card .user-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  .profile-card .settings-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .reservations {
    margin: 20px;
  }
  .reservation-card {
    width:550px;
    margin-bottom: 20px;
    
  }
  .reservation-card .passenger-img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border : 4px solid green;
    margin-right: 20px;
  }
  .reservation-card .passenger-img-pending {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border : 4px solid orange;
    margin-right: 20px;
  }
  .reservation-card .passenger-img-pilot {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border : 4px solid rgb(211, 208, 55);
    margin-right: 20px;
  }
  .reservation-card .settings-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .management-actions {
    padding: 20px;
  }

hr {
      border: none; /* Supprime la bordure par défaut */
      height: 2px; /* Définit la hauteur de la ligne */
      background-color: black; /* Définit la couleur de la ligne */
      margin: 20px 0; /* Marge supérieure et inférieure pour espacement */
      width: 80%; /* Définit la longueur de la ligne */
    }
h3 {
  padding: 20px;
}
</style>

<div class="container mt-3">
  {% if note_alreadyexists == True %}
    <div class="alert alert-warning" role="alert" style="text-align: center;">
      Vous essayez de noter quelqu'un pour la deuxième fois. Nous aussi on aime les copains mais quand même !
    </div>
  {% endif %}

  {% if vol_ajoute == True %}
    <div class="alert alert-success" role="alert" style="text-align: center;">
      Votre réservation a été ajoutée ! Elle sera validée sous peu par votre pilote.
    </div>
  {% endif %}

  {% if pilotTriesToBeisOwnFriend == True %}
    <div class="alert alert-warning" role="alert" style="text-align: center;">
      Vous ne pouvez pas être votre seul ami ! Continuez. Vous en trouverez d'autres...
    </div>
  {% endif %} 
  {% if resaIsConfirmed == True %}
    <div class="alert alert-success" role="alert" style="text-align: center;">
      Le passager été confirmé ! 
    </div>
  {% endif %}
  {% if resaIsCanceled == True %}
    <div class="alert alert-dark" role="alert" style="text-align: center;">
      La réservation du passager a été anulée.
    </div>
  {% endif %}
  {% if flightHasBeenEdited == True %}
    <div class="alert alert-primary" role="alert" style="text-align: center;">
      Les modifications du vol ont bien été prises en compte.
    </div>
  {% endif %}
  {% if flightHasBeenCanceled == True %}
    <div class="alert alert-primary" role="alert" style="text-align: center;">
      Le vol a été supprimé avec succès.
    </div>
  {% endif %}
  {% if flightHasBeenAdded == True %}
    <div class="alert alert-success" role="alert" style="text-align: center;">
      Le vol a été ajouté avec succès !
    </div>
  {% endif %}


  <div class="profile-card">
    <div class="card">
      <div class="card-body">
        <span class="settings-icon">
          <a type="button" data-bs-toggle="modal" data-bs-target="#modifierprofil">
            <i class="fas fa-cog"></i> 
          </a>
        </span>
        <div class="user-info">
          <img src="{{session['photoDeProfil']}}" alt="Profile Picture"> <!-- Remplacez par le chemin vers la photo de profil de l'utilisateur -->
          <div>
            <p><strong>Last name : </strong>{{session['nom']}}</p>
            <p><strong>First Name : </strong>{{session['prenom']}}</p>
            <p><strong>Date of birth : </strong>{{session['dateNaissance']}}</p>
            <p><strong>Mail adresse : </strong>{{session['adresseMail']}}</p>
            <p><strong>Phone number : </strong>{{session['numeroTelephone']}}</p>
            <p><strong>Description : </strong>{{session['description']}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="reservations">
    <hr>
    <h5>Flights Reservations</h5>
    <hr>
    <div class="row">
      {% for flight in session['flights'] %}
        {% if flight[15] != 'archived' %}
          <div class="col-md-6">
            <div class="card reservation-card">
              <div class="card-body">
                <span class="settings-icon">
                  <a type="button" data-bs-toggle="modal" data-bs-target="#infovol-{{flight[13]}}">
                    <i class="fas fa-circle-info"></i>
                  </a>
                </span>
                <h6 class="card-title">Vol n°{{flight[13]}}</h6>
                <div class = "row text-center">
                  <div class = "col">
                    <i class="fa-sharp fa-solid fa-circle"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-solid fa-plane-departure"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-solid fa-plane"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-solid fa-plane-arrival"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-sharp fa-solid fa-circle"></i>
                  </div>
                </div>
                <div class="row text-center">
                  <div class = "col">
                    {% for airport in airports %} {% if airport[0] == flight[4] %} {{airport[1]}} {% endif %}{% endfor %}
                  </div>
                  <div class = "col"></div>
                  <div class = "col text-center">
                    {{flight[11]}}
                  </div>
                  <div class = "col"></div>
                  <div class = "col">
                    {% for airport in airports %} {% if airport[0] == flight[5] %} {{airport[1]}} {% endif %}{% endfor %}
                  </div>
                </div>
                <div class="row mt-3">
                  <div class ="col">
                    <p class="card-text"><strong> Pilote : </strong> {{flight[0]}} {{flight[1]}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class ="col">
                    <p class="card-text"><strong>Aircraft : </strong> {% for aircraft in aircrafts %}{% if aircraft[0] == flight[6] %} {{aircraft[1]}} {% endif %}{% endfor %}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class ="col">
                    <p class="card-text"><i class="fa-solid fa-calendar"></i> {{flight[12]}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class ="col">
                    <p class ="card-text"><strong>Statut de la réservation : </strong>{% for subpassager in session['passengers'] %}{% for passager in subpassager %} {% if passager[0] == session['idUser'] and passager[4] == flight[13] %} {% if passager[6] == 'confirmed' %}<span style="color: darkgreen;">Confirmée </span><i class="fa-solid fa-square-check" style="color: darkgreen;"></i> {%else%} <span style="color: rgb(255, 166, 0);">En attente  </span><i class="fa-solid fa-clock"></i>{%endif%}{%endif%}{%endfor%}{%endfor%}</p>
                  </div>
                </div>
                <button type="button" class="btn btn-danger mt-3" data-bs-toggle="modal" data-bs-target="#annulervolpassager-{{flight[13]}}">
                  <i class="fa-solid fa-xmark"></i> Annuler la réservation
                </button>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
        {% if not session['flights'] %}
          <h3><span style = "color:  rgb(59, 129, 250);"> Vous n'êtes enregistré sur aucun vols...</span></h3>  <!-- le dico flight n'est plus vide avec les vols archivés... A voir comment je pourrais le faire revenir-->
        {% endif %}
    </div>
    
    {%  if session['isPilot'] %}
    <hr>
    <h5> Flights Management</h5>
    <hr>
    <div class="row">
      {% for flight in session['flightsPilot'] %}
        {% if flight[15] != 'archived' %}
          <div class="col-md-6">
            <div class="card reservation-card">
              <div class="card-body">
                <h6 class="card-title">Vol n°{{flight[13]}}</h6>
                <div class = "row text-center">
                  <div class = "col">
                    <i class="fa-sharp fa-solid fa-circle"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-solid fa-plane-departure"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-solid fa-plane"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-solid fa-plane-arrival"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-sharp fa-solid fa-circle"></i>
                  </div>
                </div>
                <div class="row text-center">
                  <div class = "col">
                    {% for airport in airports %} {% if airport[0] == flight[4] %} {{airport[1]}} {% endif %}{% endfor %}
                  </div>
                  <div class = "col"></div>
                  <div class = "col text-center">
                    {{flight[11]}}
                  </div>
                  <div class = "col"></div>
                  <div class = "col">
                    {% for airport in airports %} {% if airport[0] == flight[5] %} {{airport[1]}} {% endif %}{% endfor %}
                  </div>
                </div>
                <div class="row mt-3">
                  <div class ="col">
                    <p class="card-text"><strong> Pilote : </strong> {{flight[0]}} {{flight[1]}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class ="col">
                    <p class="card-text"><strong>Aircraft : </strong> {% for aircraft in aircrafts %}{% if aircraft[0] == flight[6] %} {{aircraft[1]}} {% endif %}{% endfor %}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class ="col">
                    <p class="card-text"><i class="fa-solid fa-calendar"></i> {{flight[12]}}</p>
                  </div>
                </div>
                  <div class="container text-center">
                    <div class="row passenger-images">
                      {% for subpassager in session['passengersPilot'] %}
                        {% for passager in subpassager %}
                          {% if passager[4] == flight[13] %}
                            <div class="col">
                              <a data-bs-toggle="modal" data-bs-target="#confirmerpassager-{{flight[13]}}-{{passager[0]}}"><img src="{{passager[3]}}" {% if passager[6] =='pending' %} class = "passenger-img-pending" {% else %} class = "passenger-img" {% endif %}></img></a>
                            </div>
                          {% endif %}
                        {% endfor %}
                      {% endfor %}
                    </div>
                  </div>
                <div class = "management-actions">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modifiervol-{{flight[13]}}">
                    <i class="fa-solid fa-pen"></i>
                  </button>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#annulervolpilote-{{flight[13]}}">
                    <i class="fa-solid fa-trash-can"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    {% endif %}

    <hr>
    <h5> Archived flights</h5>
    <hr>
    <!-- Ici sont créées les cartes des vols archivés ou le user était passager-->
    <div class="row">
      {% for flight in session['flights'] %}
        {% if flight[15] == 'archived' %}
          <div class="col-md-6">
            <div class="card reservation-card">
              <div class="card-body">
                <h6 class="card-title">Vol n°{{flight[13]}}</h6>
                <div class = "row text-center">
                  <div class = "col">
                    <i class="fa-sharp fa-solid fa-circle"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-solid fa-plane-departure"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-solid fa-plane"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-solid fa-plane-arrival"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-sharp fa-solid fa-circle"></i>
                  </div>
                </div>
                <div class="row text-center">
                  <div class = "col">
                    {% for airport in airports %} {% if airport[0] == flight[4] %} {{airport[1]}} {% endif %}{% endfor %}
                  </div>
                  <div class = "col"></div>
                  <div class = "col text-center">
                    {{flight[11]}}
                  </div>
                  <div class = "col"></div>
                  <div class = "col">
                    {% for airport in airports %} {% if airport[0] == flight[5] %} {{airport[1]}} {% endif %}{% endfor %}
                  </div>
                </div>
                <div class="row mt-3">
                  <div class ="col">
                    <p class="card-text"><strong> Pilote : </strong> {{flight[0]}} {{flight[1]}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class ="col">
                    <p class="card-text"><strong>Aircraft : </strong> {% for aircraft in aircrafts %}{% if aircraft[0] == flight[6] %} {{aircraft[1]}} {% endif %}{% endfor %}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class ="col">
                    <p class="card-text"><i class="fa-solid fa-calendar"></i> {{flight[12]}}</p>
                  </div>
                </div>
                <div class="container text-center mt-3">
                  <div class="row passenger-images">
                    {% for subpassager in session['passengers'] %}
                      {% for passager in subpassager %}
                        {% if passager[4] == flight[13] %}
                          <div class="col">
                            <a data-bs-toggle="modal" data-bs-target="#noter-{{passager[0]}}"><img src="{{passager[3]}}" class = "passenger-img"></img></a>
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                    <div class="col">
                      <a data-bs-toggle="modal" data-bs-target="#noter-{{flight[14]}}"><img src="{{flight[2]}}" class = "passenger-img-pilot"></img></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <!-- Ici sont créées les cartes des vols archivés ou le user était pilote-->
      {% for flight in session['flightsPilot'] %}
        {% if flight[15] == 'archived' %}
          <div class="col-md-6">
            <div class="card reservation-card">
              <div class="card-body">
                <h6 class="card-title">Vol n°{{flight[13]}}</h6>
                <div class = "row text-center">
                  <div class = "col">
                    <i class="fa-sharp fa-solid fa-circle"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-solid fa-plane-departure"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-solid fa-plane"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-solid fa-plane-arrival"></i>
                  </div>
                  <div class = "col">
                    <i class="fa-sharp fa-solid fa-circle"></i>
                  </div>
                </div>
                <div class="row text-center">
                  <div class = "col">
                    {% for airport in airports %} {% if airport[0] == flight[4] %} {{airport[1]}} {% endif %}{% endfor %}
                  </div>
                  <div class = "col"></div>
                  <div class = "col text-center">
                    {{flight[11]}}
                  </div>
                  <div class = "col"></div>
                  <div class = "col">
                    {% for airport in airports %} {% if airport[0] == flight[5] %} {{airport[1]}} {% endif %}{% endfor %}
                  </div>
                </div>
                <div class="row mt-3">
                  <div class ="col">
                    <p class="card-text"><strong> Pilote : </strong> {{flight[0]}} {{flight[1]}}</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class ="col">
                    <p class="card-text"><strong>Aircraft:</strong> DR-400</p>
                  </div>
                </div>
                <div class="row mt-3">
                  <div class ="col">
                    <p class="card-text"><i class="fa-solid fa-calendar"></i> {{flight[12]}}</p>
                  </div>
                </div>
                <div class="container text-center mt-3">
                  <div class="row passenger-images">
                    {% for subpassager in session['passengersPilot'] %}
                      {% for passager in subpassager %}
                        {% if passager[4] == flight[13] %}
                          <div class="col">
                            <a data-bs-toggle="modal" data-bs-target="#noter-{{passager[0]}}"><img src="{{passager[3]}}" class = "passenger-img"></img></a>
                          </div>
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                    <div class="col">
                      <a data-bs-toggle="modal" data-bs-target="#noter-{{flight[14]}}"><img src="{{flight[2]}}" class = "passenger-img-pilot"></img></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>
</div>

<!-- Modifier Profil Modal -->
<div class="modal fade" id="modifierprofil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modifier son profil</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="./edit_profile" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="nom" class="form-label">Nom :</label>
            <input type="text" class="form-control" name="nom" value="{{session['nom']}}">
          </div>
          <div class="mb-3">
            <label for="prenom" class="form-label">Prénom :</label>
            <input type="text" class="form-control" name="prenom" value="{{session['prenom']}}">
          </div>
          <div class="mb-3">
            <label for="eMail" class="form-label">Email :</label>
            <input type="email" class="form-control" name="adresseMail" value="{{session['adresseMail']}}">
          </div>
          <div class="mb-3">
            <label for="dateDeNaissance" class="form-label">Date de naissance :</label>
            <input type="date" class="form-control" name="dateDeNaissance" id="dateDeNaissance" value="{{session['dateDeNaissance']}}">
          </div>
          <div class="mb-3">
            <label for="dateDeNaissance" class="form-label">Numéro de téléphone :</label>
            <input type="text" class="form-control" name="numeroTelephone" value="{{session['numeroTelephone']}}">
          </div>
          <div class="mb-3">
            <div class="form-group col-md-4">
              <label class="form-label" for="customFile">Photo de profil :</label>
              <input type="file" class="form-control form-control-lg" id="profilePicture" name="profilePicture" accept=".jpg, .png" />
              <small id="fileError" class="text-danger" style="display: none;">Please choose a .jpg or .png file.</small>
            </div>
          </div>
          <div class="mb-3">
            <div class="form-group">
              <label for=description>Profile Description</label>
              <textarea class="form-control form-control-lg" id="description" name ="description" value="{{session['description']}}" rows="3"></textarea>
            </div>
          </div>
          <input type="hidden" value="{{session['idUser']}}" name="idUser">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>

{% for flight in session['flights']%}
<!-- Annuler passager vol Modal -->
<div class="modal fade" id="annulervolpassager-{{flight[13]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Êtes-vous sûr de bien vouloir annuler ce vol ?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <a href="/cancelflight/{{flight[13]}}/{{session['idUser']}}"> <button type="button" class="btn btn-danger">Annuler</button></a>
      </div>
    </div>
  </div>
</div>

<!-- voir info vol Modal -->
<div class="modal fade" id="infovol-{{flight[13]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Informations utiles</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Vous êtes beau, restez-le s'il vous plaît</p> <!-- Mettre des infos sur le pilote, l'avion et l'aérodrome de départ-->
      </div>
    </div>
  </div>
</div>
{% endfor %}

{%  if session['isPilot'] %}
  {% for flight in session['flightsPilot']%}
    <!-- modfier vol Modal -->
    <div class="modal fade" id="modifiervol-{{flight[13]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modification du vol n°{{flight[13]}}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="./editflight">
              <input type="hidden" name="idUser" value="{{session['idUser']}}">
              <div class="mb-3" style="padding-top: 30px;">
                <label for="idAirport" class="form-label">Departure : </label>
                <select id="idAirport" name="aerodromeDepart" class="form-control form-control-sm">
                  {% for airport in airports %} {% if airport[0] == flight[4] %}<option selected value = "{{airport[0]}}">{{airport[1]}}</option>{% endif %}{% endfor %}</option>
                  {% for airport in airports %}
                    {% if airport[0] != flight[4] %}
                    <option value ="{{airport[0]}}">{{airport[1]}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="mb-3">
                <label for="idAirport" class="form-label">Destination : </label>
                <select id="idAirport" name="aerodromeArrive" class="form-control form-control-sm">
                  {% for airport in airports %} {% if airport[0] == flight[5] %}<option selected value = "{{airport[0]}}">{{airport[1]}}</option>{% endif %}{% endfor %}</option>
                  {% for airport in airports %}
                    {% if airport[0] != flight[5] %}
                    <option value ="{{airport[0]}}">{{airport[1]}}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>

              <div class="mb-3">
                <label for="idAircraft" class="form-label">Aircraft : </label>
                <select id="idAircraft" name="typeaircraft" class="form-control form-control-sm">
                  <option selected></option>
                  {% for aircraft in aircrafts %}
                    <option value ="{{aircraft[0]}}">{{aircraft[1]}}</option>
                  {% endfor %}
                </select>
              </div>
      
              <div class="form-group">
                <label for="Pax">Number of passagers, excluding pilot :</label>
                <input type="number" name="passagerMax" class="form-control" id="Pax" value="{{flight[8]}}" min = 1 max = 3>
              </div>
      
              <div class="form-group">
                <label for="date">Date :</label>
                <input type="date" name="date" class="form-control" id="date-input" value="{{flight[12]}}">
              </div>
      
              <div class="form-group">
                <label for="destination">Departure time :</label>
                <input type="time" name = "heureDecollage" class="form-control" id="time">
              </div>
      
              <div class="form-group">
                <label for="duree">Flight duration :</label>
                <input type="time" name="dureeVol" class="form-control" id="duree" value = "{{flight[11]}}" step="900">
              </div>
      
              <div class="form-group">
                <label for="price">Total Price :</label>
                <input type="number" name="prixTotalIndicatif" class="form-control" id="price" placeholder="Flight price" value="{{flight[9]}}">
              </div>
              <input type="hidden" name="idVol" value = "{{flight[13]}}">
              <input type="hidden" name="placesRestantesBefore" value = "{{flight[7]}}">
              <input type="hidden" name="passagermaxBefore" value = "{{flight[8]}}">
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-warning">Modifier</button></a>
          </div>
        </form>
        </div>
      </div>
    </div>

    <!-- Annuler pilote vol Modal -->
    <div class="modal fade" id="annulervolpilote-{{flight[13]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p>Êtes-vous sûr de bien vouloir annuler ce vol ?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <a href="/cancelflight/{{flight[13]}}/{{session['idUser']}}"> <button type="button" class="btn btn-danger">Annuler</button></a>
          </div>
        </div>
      </div>
    </div>

    {% for subpassager in session['passengersPilot'] %}
      {% for passager in subpassager %}
        {% if passager[4] == flight[13] %}
          {%if passager[6] == 'pending' %}
            <!--confirmer passager Modal -->
            <div class="modal fade" id="confirmerpassager-{{flight[13]}}-{{passager[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Votre copain attends de vos nouvelles</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="row">
                      <div class="col">
                        <p><img src="{{passager[3]}}" style = "width: 70px; height: 70px; border-radius: 50%; border : 4px solid rgb(0, 0, 0); margin-right: 20px;">{{passager[1]}} {{passager[2]}}</p>
                      </div>
                      <div class="col">
                        {{passager[1]}}
                      </div>
                      <div class="col">
                        {{passager[2]}}
                      </div>
                    <div class="row">
                      <div class="col">
                        moyenne en temps que passager : {% if passager[8] == None %} Ce copain n'a pas été encore noté ! {% else %} {{passager[8]}} {% endif %}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        Téléphone : {{passager[9]}}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        description : {{passager[7]}}
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <a href=".//resaconfirm/{{flight[13]}}/{{passager[0]}}"> <button type="button" class="btn btn-success">Confirmer</button></a>
                  </div>
                </div>
              </div>
            </div>
          {% else %}
            <!--confirmer passager Modal -->
            <div class="modal fade" id="confirmerpassager-{{flight[13]}}-{{passager[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">gestion du passager <strong>{{passager[1]}} {{passager[2]}}</strong></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <p>Annuler la réservation de ce passager ?</p>
                  </div>
                  <div class="modal-footer">
                    <a href="cancelresa/{{flight[13]}}/{{passager[0]}}"> <button type="button" class="btn btn-danger">Annuler</button></a>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
{% endif %}

{% for flight in session['flights'] %}
  {% if flight[15] == 'archived' %}
  <!-- On créer le modal pour noter les passagers-->
    {% for subpassager in session['passengers'] %}
      {% for passager in subpassager %}
          <div class="modal fade" id="noter-{{passager[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Notation du copain <strong>{{passager[1]}} {{passager[2]}}</strong></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/note">
                    <div class="mb-3">
                      <label for="note" class="form-label">Note :</label>
                      <input type="number" class="form-control" min="0" max = "5" name="note">
                    </div>
                    <div class="form-group">
                      <label for=commentaire>Commentaire : </label>
                      <textarea class="form-control form-control-lg" id="description" name ="commentaire" rows="2"></textarea>
                    </div>
                    <input type="hidden" value="{{passager[0]}}" name="noté">
                    <input type="hidden" value="{{flight[13]}}" name="idVol">
                </div>
                <div class="modal-footer">
                  {% if passager[0] == session['idUser'] %}<h4> Désolé... Vous ne pouvez pas voter pour vous même. Mais c'est tentant.</h4>{% endif %}
                  <button type="submit" class = "btn btn-primary" {% if passager[0] == session['idUser'] %} disabled {% endif %}</button> Envoyer </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
    {% endfor %}
    <div class="modal fade" id="noter-{{flight[14]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Notation du copain <strong>{{flight[0]}} {{flight[1]}}</strong></h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/note">
              <div class="mb-3">
                <label for="note" class="form-label">Note :</label>
                <input type="number" class="form-control" min="0" max = "5" name="note">
              </div>
              <div class="form-group">
                <label for=commentaire>Commentaire : </label>
                <textarea class="form-control form-control-lg" id="description" name ="commentaire" rows="2"></textarea>
              </div>
              <input type="hidden" value="{{flight[14]}}" name="noté">
              <input type="hidden" value="{{flight[13]}}" name="idVol">
          </div>
          <div class="modal-footer">
            {% if flight[14] == session['idUser'] %}<h4> Désolé... Vous ne pouvez pas voter pour vous même. Mais c'est tentant.</h4>{% endif %}
            <button type="submit" class = "btn btn-primary" {% if flight[14] == session['idUser'] %} disabled {% endif %}</button> Envoyer </button>
            </form>
          </div>
        </div>
    </div>
  {% endif %}
{% endfor %}

{% for flight in session['flightsPilot'] %}
  {% if flight[15] == 'archived' %}
  <!-- On créer le modal pour noter les passagers lorsqu'on est pilote-->
    {% for subpassager in session['passengersPilot'] %}
      {% for passager in subpassager %}
          <div class="modal fade" id="noter-{{passager[0]}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Notation du copain <strong>{{passager[1]}} {{passager[2]}}</strong></h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <form method="POST" action="/note">
                    <div class="mb-3">
                      <label for="note" class="form-label">Note :</label>
                      <input type="number" class="form-control" min="0" max = "5" name="note">
                    </div>
                    <div class="form-group">
                      <label for=commentaire>Commentaire : </label>
                      <textarea class="form-control form-control-lg" id="description" name ="commentaire" rows="2"></textarea>
                    </div>
                    <input type="hidden" value="{{passager[0]}}" name="noté">
                    <input type="hidden" value="{{flight[13]}}" name="idVol">
                </div>
                <div class="modal-footer">
                  <button type="submit" class = "btn btn-primary">Envoyer</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endfor %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script> <!-- Importation de la bibliothèque Font Awesome -->
<script>
  // Récupérer la date d'aujourd'hui
  var today = new Date().toISOString().split('T')[0];

  // Définir la valeur de l'attribut min de l'élément input
  document.getElementById('date-input').setAttribute('min', today);
</script>
<script>
  // Récupérer la date d'aujourd'hui
  var today = new Date();

  // Soustraire 18 ans à la date d'aujourd'hui
  var minDate = new Date(today.getFullYear() - 18, today.getMonth(), today.getDate());

  // Formater la date dans le format ISO
  var minDateISO = minDate.toISOString().split('T')[0];

  // Définir la valeur de l'attribut min de l'élément input
  document.getElementById('dateDeNaissance').setAttribute('max', minDateISO);
</script>

{% endblock %}